name: CI Deploy

on:
  pull_request:
    branches:
      - main

# on:
#   push:
#     branches:
#       - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    env:
      ECR_REPOSITORY: analytics-cicd
    steps:
      - uses: actions/checkout@v2

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.DEPLOY_AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.DEPLOY_AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Deploy cicd resources
        id: deploy-cicd
        uses: aws-actions/aws-cloudformation-github-deploy@v1
        with:
          name: analytics-cicd
          template: cicd.cloudformation.yml
          no-fail-on-empty-changeset: 1

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v1

      - name: Build, tag, and push image to Amazon ECR
        env:
          ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          ECR_REPOSITORY: ${{ steps.deploy-cicd.outputs.AnalyticsEcrRepositoryName }}
          IMAGE_TAG: ${{ github.sha }}
        run: |
          docker build -t $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG .
          docker push $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG

      - name: Deploy app resources
        uses: aws-actions/aws-cloudformation-github-deploy@v1
        env:
          ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          ECR_REPOSITORY: ${{ env.ECR_REPOSITORY }}
          IMAGE_TAG: ${{ github.sha }}
        with:
          name: analytics
          template: app.cloudformation.yml
          parameter-overrides: "Image=${{ env.ECR_REGISTRY }}${{ env.ECR_REPOSITORY }}${{ github.sha }}"
