name: CI Verify Docker
on:
  pull_request:
    branches:
      - main
    paths:
      - 'Dockerfile'
jobs:
  verify-docker:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2 
      - name: verify docker
        uses: ./.github/actions/verify-docker
